.container
  .row.text-center.well.marketing-container
    .row
      .col-md-4.marketing-tile#tile0
        =#%i.icon-unlock.icon-3x
        =fa_icon "unlock 3x"
        %h3 Work With Any Cloud
        %p Run your applications on AWS, Rackspace, Google Compute on any public, private and hybrid cloud that meets your requirements.

      .col-md-4.marketing-tile#tile1
        =fa_icon "cloud-upload 3x"
        %h3 Deploy Code In A Click
        %p Deploy to development, test or production with a single click. Use a library of template Boxes for stacks such as Ruby, Java, and .Net.

      .col-md-4.marketing-tile#tile2
        =fa_icon "magic 3x"
        %h3 DevOps At Your Fingertips
        %p Easily set up load balancers, auto-scaling and more to make sure your infrastructure scales as needed on any cloud.

    .row
      .col-md-4.marketing-tile#tile3
        =fa_icon "cogs 3x"
        %h3 Integrate With Your Flow
        %p Use Bash, PowerShell, Puppet, Docker and Chef scripts to configure your apps. Connect with Github to deploy straight to the cloud.

      .col-md-4.marketing-tile#tile4
        =fa_icon "tachometer 3x"
        %h3 Iterate, Reuse, Remix
        %p Quickly build, reuse and remix your deployment Boxes. Use our version control to quickly experiment with new software.

      .col-md-4.marketing-tile#tile5
        =fa_icon "group 3x"
        %h3 Collaborate & Save Time
        %p Define user groups and permissions to control who has access to which apps, resources, and providers. Less stress, more sleep.

/ .break.how-it-works
/   .container
/     .row.text-center
/       .col-md-4
/         %h3.light 1) Add Cloud Providers
/         =image_tag "step1.png", :class => "padding-top"
/       .col-md-4
/         %h3.light 2) Customize Platform
/         =image_tag "step2.png", :class => "padding-top"
/       .col-md-4
/         %h3.light 3) Deploy Applications
/         =image_tag "step3.png", :class => "padding-top"

.container
  .col-md-12.text-center.cta-container.clearfix
    %h2.text-center
      Ready To Make The Cloud Work For You?
    .btn.btn-lrg.btn-default.toggle_form_footer{track: "Signup Button Footer"}
      Request an invitation
