#error_messages {
	h5 {
		text-shadow: none;
		margin: 0px auto;
	}
}



.skinny {
	#error_messages {
		max-width: 350px;
		margin: auto;
		margin-bottom: 10px;
	}
	.form-group {
		max-width: 375px;
		margin-right: 10px;
		margin: auto;

		@media (max-width: 1024px) {
			margin: auto;
			margin-bottom: 10px;
			.btn.signup {
				width: 375px;
				width: 100%;
			}
		}
	}
	.close {
		margin-top: -5px;		
	}
}

input {
	-webkit-font-smoothing: antialiased;
}