<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
  @media screen and (max-width: 480px){
    table[class=emailwrapto100pc],img[class=emailwrapto100pc]{
      width:100% !important;
      height:auto !important;
    }

} @media screen and (max-width: 480px){
    img[class=emaillogo]{
      width:145px !important;
      height:auto !important;
    }

} @media screen and (max-width: 480px){
    p[class=emailtitle]{
      font-size:20px !important;
    }

} @media screen and (max-width: 480px){
    span[class=emailbodytext],a[class=emailbodytext]{
      font-size:14px !important;
      line-height:19px !important;
    }

} @media screen and (max-width: 480px){
    td[class=emailcolsplit]{
      width:100%!important;
      float:left!important;
    }

} @media screen and (max-width: 480px){
    td[class=emailtopsides]{
      width:8%!important;
      height:88px!important;
    }

} @media screen and (max-width: 480px){
    td[class=emailsides]{
      width:33px!important;
    }

} @media screen and (max-width: 480px){
    td[class=emailtop2]{
      height:31px!important;
    }

} @media screen and (max-width: 480px){
    table[class=emailbottomborder]{
      border-bottom:solid 1px #CCCCCC!important;
      width:86% !important;
      height:auto !important;
      padding-top:15px;
      padding-bottom:16px;
    }

} @media screen and (max-width: 480px){
    td[class=footer2]{
      width:89%!important;
    }

} @media screen and (max-width: 480px){
    table[class=emailnomob],td[class=emailnomob],imgemailnomob{
      display:none !important;
    }

}</style></head>

<body style="padding:0; margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust: 100%; background-color:#292C33; font-family:Arial, Helvetica, sans-serif;" bgcolor="#292C33">

<table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%" bgcolor="#292C33">
  <tr>
     <td align="center" valign="top">


     <table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" style="padding-top:25px;padding-right:10px;padding-bottom:25px;padding-left:10px;"><a href="http://elasticbox.com"><img src="http://gallery.mailchimp.com/8b7b6ed05e1bb93faedd04ff3/images/elastic_logo.020251.1.png" class="emaillogo"></a></td>
  </tr>
</table>


  <!--table containg the main email - this will resize for mobile-->

        <table width="600" border="0" cellspacing="0" cellpadding="0" class="emailwrapto100pc">
        <tr>
          <td bgcolor="#FFFFFF">

<!-- Main Email Body / Content -->

<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" class="emailwrapto100pc">
  <tr>
    <td width="12%" height="221">
    </td>
    <td width="78%">
      <table align="left" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td height="21"></td>
        </tr>
        <tr>
          <td height="25">
            <p style="color: #606870; font-family: HelveticaNeue,sans-serif; font-size: 19px; font-weight: normal; line-height: 31px; margin-top: 0; margin-bottom: 0;">Hello,</p>
          </td>
        </tr>
        <tr>
          <td height="51">
            <p style="color: #606870; font-family: HelveticaNeue,sans-serif; font-size: 13px; line-height: 18px; margin-bottom: 0px; margin-top: 10px;">Thank you for requesting an invitation for the ElasticBox Beta Developer Edition. You have signed up with <%= @invitation.email %> and are invitation request number <%= @invitation.id %>.</p>

            <p style="color: #606870; font-family: HelveticaNeue,sans-serif; font-size: 13px; line-height: 18px; margin-bottom: 0px; margin-top: 10px;">In the past year, we have seen incredible adoption of our enterprise solution. Our goal is to provide developers with the same powerful tools that our enterprise customers love. Right now, our Developer Edition is in beta, available to a limited number of test users.</p>

            <p style="color: #606870; font-family: HelveticaNeue,sans-serif; font-size: 13px; line-height: 18px; margin-bottom: 0px; margin-top: 10px;">Developer accounts are rolling out now and your account should be ready shortly. Right now we are working hard to build boxes (application templates) to support your needs. Could you take 2 minutes (for real) to fill up this quick survey and tell us more about your specific requirements: http://bit.ly/17O7Qyx?</p>

            <p style="color: #606870; font-family: HelveticaNeue,sans-serif; font-size: 13px; line-height: 18px; margin-bottom: 0px; margin-top: 10px;">Please let me know if you have any questions or comments (or if you’d like us to send you an ElasticBox t-shirt). All my contact information is below.</p>
          </td>
        </tr>
        <tr>
          <td width="78%" height="30">
          </td>
        </tr>
        <tr>
          <td>
            <table align="left" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td width="170" height="73"></td>
                <td>
                  <table align="left" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="113">
                    <tr>
                      <td width="113" height="39"><a href="http://www.elasticbox.com/how-it-works/new-cloud-application/"><img src="http://gallery.mailchimp.com/8b7b6ed05e1bb93faedd04ff3/images/learnmore.jpg" style="max-width:100% !important;" alt="Learn More"></a></td>
                    </tr>
                    <tr>
                      <td width="113" height="34"></td>
                    </tr>
                  </table>
                </td>
                <td width="182" height="73">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
            <p style="color: #606870; font-family: HelveticaNeue,sans-serif; font-size: 12px; line-height: 14px; margin-bottom: 0px; margin-top: 10px;">Alex Scialom</p>
            <p style="color: #606870; font-family: HelveticaNeue,sans-serif; font-size: 12px; line-height: 14px; margin-bottom: 0px; margin-top: 10px;">alex@elasticbox.com | Director of Product, Developer Edition | (415) 335-6896</p>
        </tr>
      </table>
    </td>
    <td width="10%" height="221">
    </td>

  </tr>
</table>

<!-- Email Footer With Social Links -->

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="emailwrapto100pc">
  <tr>
    <td>
      <hr width="86%" style="border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(204, 204, 204, 0.3);"></td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="emailwrapto100pc">
  <tr>
    <td>

      <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td width="161" height="30"></td>
          <td width="30" height="30"><a href="https://www.facebook.com/elasticbox"><img src="http://gallery.mailchimp.com/8b7b6ed05e1bb93faedd04ff3/images/fb.gif" width="30" height="30" alt="Facebook"></a></td>
          <td width="5" height="30"></td>
          <td width="30" height="30"><a href="https://twitter.com/ElasticBox"><img src="http://gallery.mailchimp.com/8b7b6ed05e1bb93faedd04ff3/images/tw.gif" width="30" height="30" alt="Twitter"></a></td>
          <td width="5" height="30"></td>
          <td width="30" height="30"><a href="https://plus.google.com/+Scobleizer/posts/8DjYQvJW75W"><img src="http://gallery.mailchimp.com/8b7b6ed05e1bb93faedd04ff3/images/g.gif" width="30" height="30" alt="Google+"></a></td>
          <td width="6" height="30"></td>
          <td width="30" height="30"><a href="http://vimeo.com/elasticbox"><img src="http://gallery.mailchimp.com/8b7b6ed05e1bb93faedd04ff3/images/v.gif" width="30" height="30" alt="Vimeo"></a></td>
          <td width="5" height="30"></td>
          <td width="30" height="30"><a href="http://www.linkedin.com/company/elasticbox"><img src="http://gallery.mailchimp.com/8b7b6ed05e1bb93faedd04ff3/images/in.gif" width="30" height="30" alt="LinkedIn"></a></td>
          <td width="163" height="30">&nbsp;</td>
        </tr>
      </table>

      </td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" class="emailwrapto100pc">
      <tr>
        <td height="24"></td>
      </tr>
    </table>


     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="emailwrapto100pc">
      <tr>
        <td bgcolor="#292C33">


          <table align="left" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" class="table">
            <tr>
              <td height="30" bgcolor="#292C33" class="emailsides"></td>
              <td bgcolor="#292C33"></td>
              <td bgcolor="#292C33" class="emailsides"></td>
            </tr>

</table></td></tr></table></td></tr></table></td></tr></table></body></html>