<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Request invite for the ElasticBox Developer Platform. Beta launch coming soon!" data-via="ElasticBox"><i class="icon-twitter"></i> Share On Twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>



<a href="https://twitter.com/share?url=original_referer=http%3A%2F%2Flocalhost%3A3000%2Fwelcome%2F05392bb0828e2888411324bb0c7a5168aa80233b&text=Request%20invite%20for%20the%20ElasticBox%20Developer%20Platform.%20Beta%20launch%20coming%20soon!&tw_p=tweetbutton&url=http%3A%2F%2Flocalhost%3A3000%2Fwelcome%2F05392bb0828e2888411324bb0c7a5168aa80233b&via=ElasticBox" target="_blank"

<a href="http://twitter.com/share?url=http%3A%2F%2Fbeta.elasticbox.com%2Fpages%2Ftweet-button&text=Sign%20up%20for%20the%20ElasticBox%20Developer%20Platform.%20Beta%20launch%20coming%20soon!" target="_blank">
