.footer
  .container
    .row
      .col-md-2
        %ul.light.list-unstyled
          %h4 How It Works
          %li
            %a{:href => 'http://www.elasticbox.com/how-it-works/new-cloud-application'}
              New Applications
          %li
            %a{:href => 'http://www.elasticbox.com/how-it-works/existing-applications'} 
              Existing Applications
          %li
            %a{:href => 'http://www.elasticbox.com/how-it-works/cloud-ready-applications'}  
              Cloud-ready Applications
      .col-md-2
        %ul.light.list-unstyled
          %h4 Features
          %li
            %a{:href => 'http://www.elasticbox.com/features/reusable-components'}  
              Reusable Components
          %li
            %a{:href => 'http://www.elasticbox.com/features/cross-cloud-capabilities'}  
              Cross-cloud Capabilities
          %li
            %a{:href => 'http://www.elasticbox.com/features/collaboration-features'}  
              Collaboration Features
      .col-md-2
        %ul.light.list-unstyled
          %h4 Why ElasticBox?
          %li
            %a{:href => 'http://www.elasticbox.com/why-elasticbox/developers'}  
              For Developers
          %li
            %a{:href => 'http://www.elasticbox.com/why-elasticbox/it-ops'}  
              For IT Ops
          %li
            %a{:href => 'http://www.elasticbox.com/why-elasticbox/cios'}  
              For CIOs
      .col-md-2
        %ul.light.list-unstyled
          %h4 About
          %li
            %a{:href => 'http://www.elasticbox.com/about'}  
              About the Company
          %li
            %a{:href => 'http://www.elasticbox.com/careers'}  
              Careers
              %em.hiring   
                We're Hiring!
          %li
            %a{:href => 'http://www.elasticbox.com/#'}  
              Contact Us

    %hr
    .row
      .col-md-3.text-left
        =link_to(image_tag("logo.png"), root_path )
      .col-md-9.text-right.copyright  
        © 2013 ElasticBox. All rights reserved.