.navbar.navbar-inverse.navbar-fixed-top{"role" => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"type" => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
        %span.sr-only
        %span.icon-white.icon-bar
        %span.icon-white.icon-bar
        %span.icon-white.icon-bar

      =link_to(image_tag("logo.png"), root_path, class: 'navbar-brand')
    .collapse.navbar-collapse{"role" => "navigation"}
      %ul.nav.navbar-nav.pull-right
        %li
          =link_to "Enterprise", "http://www.elasticbox.com", 'target' => "blank"
        %li
        = link_to "Login", '/#/login', class: "btn navbar-btn btn-default pull-right", id: "login-navbar",  track: "Clicked Login Button"


